.full-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  z-index: -2;
  overflow: hidden;
  pointer-events: none; /* không chặn tương tác */
}
