.list-container {
  display: grid;
  grid-template-columns: repeat(5, auto);
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.list-item {
  padding: 10px 15px;
  border-radius: 8px;
  background-color: #1e90ff;
  color: white;
}

.dict-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
}

.dict-item {
  width: 200px;
  padding: 8px 12px;
  background-color: #0d0d0d;
  color: white;
  border-radius: 6px;
  text-align: left;
}
